@import '~styles/color';
@import '~styles/mixins';

.about {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  justify-content: center;
  flex-direction: column;

  @include portrait {
    width: 100%;
    margin: 0;
  }

  @include lg {
    margin: auto;
    width: 70%;
  }

  @include xl {
    flex-direction: row;
    // left: 10rem;
    // // width: 40% !important;
    // max-width: 500px;
  }
}

.content {
  position: relative;
  order: 2;
  top: unset;
  left: unset;

  @include sm-and-up {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 3rem;
    width: 50%;
  }

  @include xl {
    z-index: unset;
    position: relative;
    order: 1;
    max-height: 600px;

    & > div {
      margin-left: 3rem;
    }
  }
}

.text {
  color: $primary;
}

.profile {
  order: 1;
  width: 100%;
  height: 100%;
  transform: none;

  @include sm-and-up {
    width: unset;
    margin-left: 30%;
    transform: translateX(20%);
  }

  @include md {
    margin-left: 0%;
  }

  @include xl {
    order: 2;
    margin-left: 0;
  }
}
