{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "extends": ["airbnb-typescript-prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": "off",
    "no-return-assign": ["warn"],
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-var-requires": 0,
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
    }
  },
  "globals": {
    "window": true,
    "module": true
  }
}
