@import '~styles/color';

.section {
  background-color: $white;
  padding: 12px;
  width: 60%;
}

.accent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  background-color: $accent;

  .title {
    color: $accent-dark;
  }

  .highlight {
    letter-spacing: 0;
    font-weight: 700;
    color: $accent-dark;
  }
}
