$white: #ffff;
$secondary: #7f7f7f;
$accent-dark: #36413e;
$accent-light: #ffd8be;
$accent: #f9cfbc;

/* ====PRIMARY TINTS ====== */
$primary: #5c5168;
$primary-1: #6c6277;
$primary-2: #7c7386;
$primary-3: #8c8595;
$primary-4: #9d96a4;
$primary-5: #ada8b3;
$primary-6: #bdb9c2;
$primary-7: #cecad1;
$primary-8: #dedce0;
$primary-9: #eeedef;

/* ====BORDER  ====== */
$border: #707070;
