@import '~styles/color';
@import '~styles/mixins';
@import '~styles/typography';

.container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  @include sm-and-up {
    width: 90%;
    height: unset;
    margin-bottom: 5rem;
    justify-content: flex-start;
    flex-direction: row;

    &.right {
      flex-direction: row-reverse;
    }

    &.both {
      margin-top: 12rem;
    }
  }

  @include lg-and-up {
    height: 200px;
    margin-right: -220px;

    &.right {
      margin-right: 0;
      margin-left: -220px;
    }
  }
}