.App {
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 76px 1fr auto;
}

.content {
  grid-area: main;
}
